/* CSS for home page (index.html) */
main {
    background-color: #FF6392;
    display: grid;
    align-items: center;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.title {
    text-align: center;
}

.b-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    height: 650px;
    overflow: scroll;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 100px;
    grid-gap: 15px;
    border: solid 3px black;
    border-radius: 8px;
    background-color: #7FC8F8;
}

.b-box h2 {
    border-bottom: solid 1px black;
}

.b-box span {
    border-bottom: solid 1px black;
    padding: 10px;
}

.b-box::-webkit-scrollbar {
    display: none;
}

.box {
    background-color: #FFE45E;
    border: solid 3px black;
    height: 200px;
    margin: 15px;
    display: grid;
    grid-template-rows: 20%, 60%, 20%;
}